#!/usr/bin/env perl

# PODNAME: app.conf
# ABSTRACT: WebApp Configuration for FakePause

use utf8;
use strict;
use warnings;

+{
    #
    # for Mojolicious hypnotoad server
    #
    hypnotoad => {
        listen  => [ 'http://*:8000' ],
        workers => 6,
    },

    #
    # for site
    #
    project_name     => 'Fake Pause for SILEX',
    project_desc     => 'The Fake [Perl programming] Authors Upload Server',
    copyright        => '2014 SILEX',
    google_analytics => q{},
    secrets          => [
        '2014-02-27 02:22:55 Asia/Seoul',
    ],
    nav_links       => {
        left  => [ ],
        right => [
            {
                desc  => 'OREPAN',
                url   => 'http://orepan.silex.kr/authors/id/S/SI/SILEX/',
            },
            {
                desc  => 'CPAN',
                url   => 'http://cpan.silex.kr/CPAN',
            },
            {
                desc  => 'Dzil Profile',
                url   => 'https://github.com/silexkr/dzil-profiles-silex',
            },
            {
                desc  => 'GitHub',
                url   => 'https://github.com/silexkr/fake-pause',
            },
        ],
    },
    css_str => 'body{padding-top:50px}',

    #
    # FakePause
    #
    fakepause => {
        repo => '/home/cpan/orepan',
        auth => {
            #
            # perl -MMIME::Base64 -E 'say encode_base64(join(":", @ARGV), q{});' FAKEPAUSEID fakepausepw
            #
            SILEX => 'U0lMRVg6bWltZXBhc3N3b3Jk',
        },
    },
};
